.home-about-section{
    display: flex;
    width: 1488px;
    align-items: flex-end;
    gap: 24px;
}
.home-about-section .card-bg-purple{
    background: url('../../assets/images/FramePurple.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 42.371px;
    display: flex;
    width: 285px;
    height: 480.24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding: 20px;
}
.home-about-section .card-bg-purple p{
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}
.home-about-section .card-bg-purple svg{
    color: #fff;
    font-size: 20px;
}

.home-about-section .card-bg-gray{
    border-radius: 33.16px;
    background: #EAE9F6;
    display: flex;
    width: 191.088px;
    height: 327.857px;
    padding: 22.107px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.211px;
    flex-shrink: 0;
}
.home-about-section .card-bg-gray h2{
    color:  #100F2F;
    text-align: center;
    font-family: 'El Messiri';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.home-about-section .card-bg-gray p{
    color: #100F2F;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147%;
}
.home-about-section .card-bg-img-text{
    background: url('../../assets/images/Vector.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 384.115px;
    height: 264.16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
}
.home-about-section .card-bg-img-text h3{
    color: #FFF;
    text-align: center;
    font-family: 'El Messiri';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
}
.home-about-section .card-bg-purply-obacity{
    border-radius: 33.16px;
    background: #8D80BF;
    display: flex;
    width: 191.088px;
    height: 327.857px;
    padding: 22.107px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.211px;
    flex-shrink: 0;
}
.home-about-section .card-bg-purply-obacity h2{
    color:  #FFF;
    text-align: center;
    font-family: 'El Messiri';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
}
.home-about-section .card-bg-purply-obacity p{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147%;
}
.home-about-section .card-bg-img{
    background: url('../../assets/images/Union.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 312.353px;
    height: 487.307px;
    flex-shrink: 0;
}
@media (max-width:660px){
    .home-about-section .card-bg-gray,
    .home-about-section .card-bg-purple,
    .home-about-section .card-bg-img-text,
    .home-about-section .card-bg-purply-obacity{
        display: none;
    }
    .col-width{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}